<!doctype html>
<html lang="en">
<head>
  <%= partial "partials/head" %>
</head>
<body class="page__<%= page_classes %>" aria-labelledby="page-title">
  <a class="hidden pv2 ph3 bg-white bn" href="<%= current_resource.url %>#content">Skip to content</a>

  <header role="banner" class="banner pa3 pa4-ns lh-solid" aria-labelledby="banner-title">
    <div class="mw7 center cf">
      <h2 id="banner-title" class="mb2 mb0-ns f5 fl-ns"><a href="/"><%= data.site.meta.author %></a></h2>
      <nav role="navigation" class="fl fr-ns">
        <ul class="list pl0">
          <% data.site.pages.each do |page| %>
            <li class="mr2 mr0-ns ml3-ns fl"><%= current_link_to page.title, page.url %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main" class="main" aria-labelledby="page-title">
    <%= yield %>
  </main>

  <%= partial "partials/footer" %>
</body>
</html>
