---
title: About me
description: A little bit about myself.
subtitle: … without being braggadocious, of course
caption: A somewhat recent selfie of myself
---

<header class="bg-color header pa3 pa4-m pa5-l lh-title" aria-labelledby="page-title">
  <div class="mw7 center">
    <h1 id="page-title" class="f5 f4-ns"><%= current_page.data.title %></h1>
    <p class="pt2 pt3-ns f3 f2-ns normal i"><%= current_page.data.description.sub /\.\z/, '' %><%= current_page.data.subtitle %></p>
  </div>
</header>

<div id="content">
  <section class="pt3 pt4-m pt5-l mh3 mb3 mh4-m mb4-m mh5-l mb5-l" aria-labelledby="quick-title">
    <header class="hidden" aria-labelledby="quick-title">
      <h2 id="quick-title">A quick bio</h2>
    </header>

    <div class="mw7 center cf">
      <figure class="w-25 mr3 mr4-m mr0-l mb3 mb0-l fl">
        <%= image_tag 'selfie.jpg', alt: '', class: 'selfie' %>
        <figcaption class="f6 i lh-title"><%= current_page.data.caption %>.</figcaption>
      </figure>

      <div class="w-75-l pl5-l fl-l">
        <p>Hi, I'm Oscar <i>(Palmér)</i> and this is my little home on the internet. <span class="emoji__aria" role="img" aria-label="Peace sign" tabindex="0">&#x270C;</span></p>
        <p class="mv3">I was born in southern Sweden in the early 90's, and I have been interested in most things technological since a very young age.</p>
        <p class="mv3">Because of this interest, I have also become a big fan of both video games and the web as mediums for entertainment, education, and any kind of aid.</p>
        <p>Between 2016 and 2019, I was an informatics student at <a href="//www.hb.se" hreflang="sv" lang="sv">Högskolan i Borås</a>, where my focus was on organisational methodologies and the complete development process, as well as on <abbr aria-labelledby="hci-def" tabindex="0">HCI</abbr> (<span id="hci-def" class="def">human-computer interaction</span>) and accessibility.</p>
      </div>
    </div>
  </section>

  <section class="ma3 ma4-m ma5-l" aria-labelledby="fav-title">
    <header class="mw7 center mb3 mb4-ns" aria-labelledby="fav-title">
      <h2 id="fav-title" class="f4 f3-ns lh-solid">A couple of favourites</h2>
    </header>

    <div class="mw7 center mb0 mb4-m mb5-l">
      <p class="measure">When I'm not tinkering with computer-related stuff, I'm most likely letting my brain take a little break, or possibly making it work overtime by thinking about other things.</p>
      <p class="measure mv3">There's always music in my ears when I'm working; I try to read books <i>(and comics)</i> whenever I can; video games have been a big part of my life since I was a little kid; and I do like to watch <i>&ldquo;TV&rdquo;</i>, as well.</p>
      <p class="mb3 measure">And so this is just a small <i>(tiny!)</i> selection of some of my favourites.</p>
    </div>

    <ul class="items list mw8 pl0 center cf">
      <% data.media.favourites.each do |fav| %>
        <li class="items__item mt3 mt0-ns fl-ns relative">
          <h3 class="items__title mb2 mb3-ns f5 f4-ns lh-solid"><span class="emoji" role="img"><%= fav.emoji %></span><%= fav.title %></h3>
          <ul class="ul">
            <% fav.items.each do |item| %>
              <%= "<li><cite><a href=\"#{item.url}\">#{item.title}</a></cite> &ndash; <i>#{item.creator}</i></li>" %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </section>
</div>
